@keyframes fade-slide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-slide {
  animation: 0.8s ease-out 0s 1 normal forwards running fade-slide;
}

.fade-slide.out {
  animation-timing-function: ease-in;
  animation-direction: reverse;
  animation-fill-mode: backwards;
  animation-duration: 0.1s;
}
