:root {
	--gray-800: rgba(31, 41, 55, 1); /* #1f2937 */
	--danish-red: rgb(200, 4, 44); /* c8042c */

	--bgcolor: white;

	font-family: 'Avenir Next World', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color: var(--gray-800);

	background-color: var(--background-color);

	scroll-behavior: smooth;

	/* scrollbar layout shift fix */
	overflow-y: scroll;
	overflow-x: hidden;

	/* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

ul {
	list-style: none;
	padding-inline-start: 0; /* user agent reset */
}

*::selection {
	color: rgba(250, 250, 250, 1);
	background-color: var(--danish-red);
}

.txt-l {
	font-size: var(--s2);
}

.txt-m {
	font-size: var(--s1);
}

h1,
h2 {
	font-weight: 400;
}

/* Tablet */
@media (min-width: 768px) {
	.txt-l {
		font-size: var(--s4);
	}

	.txt-m {
		font-size: var(--s3);
	}
}

h1,
h2,
ul,
figure,
dd,
dt,
dl,
p {
	margin: 0;
}

figure,
img {
	display: block;
}

p + p {
	margin-block-start: var(--s0);
}

p {
	max-width: 60ch;
}

a {
	text-decoration: none;
	color: var(--text-color);
}

p > a {
	text-decoration: none;
	color: var(--danish-red);
	font-style: italic;
}

dt {
	font-weight: 500;
}

p > a {
	font-style: italic;
	text-decoration: underline;
	color: var(--danish-red);
}

p > a:hover {
	text-decoration-style: dotted;
}

.drop-cap > *:first-of-type p::first-letter,
.drop-cap > p:first-of-type::first-letter {
	float: left;
	font-size: 3.2em;
	line-height: 0.65;
	margin: 0.2em 0.1em 0em 0;
	color: var(--danish-red);
}

.sans,
.sans * {
	font-family: 'Avenir Next World', sans-serif;
}

p,
.serif,
.serif * {
	font-family: schoolbook, serif;
}

canvas {
	animation: 0.8s ease 0.8s 1 normal both running fade;
}

dt,
.uppercased {
	text-transform: uppercase;
	letter-spacing: 1px;
}
