html {
  --gray-200: rgba(229, 231, 235, 1); /* #e5e7eb */
  --gray-800: rgba(31, 41, 55, 1); /* #1f2937 */
  --danish-red: rgb(200, 4, 44); /* c8042c */

  --light-mode-text: var(--gray-800);
  --dark-mode-text: white;
  --text-color: var(--light-mode-text);

  --product-card-bg-color: var(--gray-200);

  --font-weight-md: 500;
  --font-weight-bold: 700;

  --background-color: white;
  --readable-length: 60ch;

  --after-navbar-gap: calc(2 * var(--navbar-height));
  --navbar-height: 6rem; /* --navbar-height: 4rem; */
  --bleed: var(--space12); /* --bleed: var(--space6); */
  --flow-gap: var(--space6);
  --max-width: 0;

  font-family: 'Avenir Next World', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background-color: var(--background-color);

  /* scroll-behavior: smooth; */

  /* scrollbar layout shift fix */
  overflow-y: scroll;
  overflow-x: hidden;
}

*::selection {
  color: rgba(250, 250, 250, 1);
  background-color: var(--danish-red);
}

#ARButton {
  visibility: hidden;
}
