.drop-cap::first-letter {
  float: left;
  font-size: 3.2em;
  line-height: 0.65;
  margin: 0.2em 0.1em 0em 0;
  color: var(--danish-red);
}

.prose {
  max-width: var(--readable-length);
  font-size: var(--font-size-2xl);
  line-height: var(--line-height-3xl);
  font-family: schoolbook, serif;
  quotes: '“' '”';
}

.prose a {
  text-decoration: underline;
  font-style: italic;
  color: var(--danish-red);
}

.prose a:hover {
  text-decoration-style: dotted;
}

/* MUST BE CONTAINED IN A FIGCAPTION */

blockquote > p::before {
  content: open-quote;
}

blockquote > p::after {
  content: close-quote;
}

.prose > blockquote + figcaption {
  margin-top: var(--space4);
  font-size: var(--font-size-lg);
  font-style: italic;
}

/* IMAGES */

.prose > img + figcaption {
  font-size: initial;
  line-height: 1.5;
  margin-top: var(--space4);
  max-width: 60ch;
}

.prose > img + figcaption > q {
  font-style: italic;
}
