/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--danish-red);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: var(--red-800); */
}
