.sliding-underline {
  --underline-height: 1px;
  background: linear-gradient(to right, currentcolor, currentcolor);
  background-size: 0 var(--underline-height);
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.sliding-underline:hover,
.sliding-underline:focus {
  background-size: 100% var(--underline-height);
}
