:root {
  --space0\.5: 0.125rem;
  --space1: 0.25rem;
  --space1\.5: 0.375rem;
  --space2: 0.5rem;
  --space2\.5: 0.625rem;
  --space3: 0.75rem;
  --space3\.5: 0.875rem;
  --space4: 1rem;
  --space5: 1.25rem;
  --space6: 1.5rem;
  --space7: 1.75rem;
  --space8: 2rem;
  --space9: 2.25rem;
  --space10: 2.5rem;
  --space11: 2.75rem;
  --space12: 3rem;
  --space14: 3.5rem;
  --space16: 4rem;
  --space20: 5rem;
  --space24: 6rem;
  --space28: 7rem;
  --space32: 8rem;
  --space36: 9rem;
  --space40: 10rem;
  --space44: 11rem;
  --space48: 12rem;
  --space52: 13rem;
  --space56: 14rem;
  --space60: 15rem;
  --space64: 16rem;
  --space72: 18rem;
  --space80: 20rem;
  --space96: 24rem;
}
