/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--danish-red);
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--danish-red);
}
